html {
    background-color: #E5CEC1;
    height:100%;
    scroll-padding-top: 60px;
}
body {
    background-color: #E5CEC1;
    height:100%;
    margin: 60px auto 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Helvetica,Tahoma;
}
nav {
    background-color: #C4A494;
    font-family: 'Playfair Display', serif;
    color: rgb(76, 76, 76);
    position: fixed;
    height: 60px;
}
nav a {
    color: rgb(76, 76, 76);
}
nav a:hover{
    color: #f1f1f1;
}
header, section{
    background-color: #E5CEC1;
}
.footer{
    background-color: #C4A494;
    color: rgb(76, 76, 76);
}
.code {
    width: 50%;
    clear: both;
    height: fit-content;
    background: #C4A494;
    color: rgb(76, 76, 76);
    border-radius: 2px;
    margin: 12vh 0;
    padding: 10px; 
}
.head {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #FFF;
    text-align: center; 
}
.head-center {
    width: 100%;
    height: 100%; 
    margin-top:20%; 
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); 
}  
.head_text {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.5); 
}  
.scroll{
    position: absolute;
    bottom: 60px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(142, 117, 117);
}
.scroll .chevron {
    margin-top: 20px;
    margin-bottom: 20%;
    display: block;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    color:rgb(142, 117, 117);

}
@-webkit-keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } 
}
@keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } 
}
.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    vertical-align: top;
    width: 20px; 
}
.chevron.bottom:before {
        top: 0;
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg); 
}
.section {
    width: 100%;
    float: left;
    overflow: hidden; 
}
.section-title {
text-align: center;
color:rgb(142, 117, 117);
text-transform: uppercase;
font-weight: normal;
padding: 30px 0;
border-top: 1px solid rgb(142, 117, 117, .3);
border-bottom: 1px solid rgb(142, 117, 117, .3);
width: 100%;
clear: both; 
}
.container {
    width: 970px;
    margin: 0 auto;
    max-width: 90%;
    -webkit-transform: translateZ(1000px);
            transform: translateZ(1000px); 
}
h1, h2, h3, h4, h5, h6, p, li {
    color:rgb(142, 117, 117);
}
.code p{
    color: rgb(76, 76, 76); 
}
.footer p, h6{
    color: rgb(76, 76, 76);
}
.darker p, li{
    color: rgb(76, 76, 76);
}
hr {
    border-top: 1px solid #bbb;
    border-width: 50%;
    padding-top: 1px;
    height: 2px;
}
.column {
    float: left;
    width: 50%;
    padding: 0px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.expanded, .collapsible:hover {
    background-color: #ccc;
}
#content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.inactive:after{
    content: '\02795'; /* Unicode character for plus sign */
    float: right;
}
.expanded:after  {
    content: "\2796"; /* Unicode character for minus sign */
    float: right;
}
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container-features{
    background-color: #E5CEC1;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}